  /* Alterações */

header .col-md-4:last-child  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

header .col-md-4 ul {
    display: flex;
    margin-bottom: 0;  
}

header .col-md-4 .cart div:last-child{
    display: none;
}

header .col-md-4 .cart a i {
    font-size: 3em;
    color: #E71D35;
}

header .col-md-4 ul li a, header .col-md-4 .cart a {
    color: #E71D35;
    font-weight: 600;
}

.search .input-group {
    box-shadow: 0 7px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 10px;
    height: 3.2em;
}

.search input {
    border: none;
    border-right: none !important;
    border-top-left-radius:10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    letter-spacing: 1px;
    box-shadow: none;
}
.search button {
    color: #E71D35;
    border-left: none;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border: none !important;
    padding: 16px !important;
    background-image: none !important;
    height: 100%;
    font-size: 1.6em;
    background-color: #fff;
    position: initial !important;
}
.search button:hover {
    color: #E71D35;
}
.mnu, .mnu ul {
    background-color: #E71D35;
}

.mnu .navbar {
    border: none !important;
}

.mnu .navbar-default {
    box-shadow: none !important;
}

.mnu .navbar-nav > li > a {
    text-shadow: none;  
    color: #fff;
}

.mnu .navbar-nav > li > a:hover {
    color: #fff;
}

main .grid h4 {
    color: #E71D35;
    font-weight: 600;
    font-size: 28px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
}

main .grid .product-item .info {
    text-align: left;
}

main .grid .product-item .info > strong {
    font-size: 1.2em;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

 main .grid .product-item .info div > s {
     color: #d6d6d6;
 }
 main .grid .product-item .info div > span {
    color: #E71D35;
    font-weight: 600;
 }
 main .grid .product-item .info > div {
     font-size: 1.4em;
 } 

 /*Newsletter */


 .newsletter {
     background-color: #E71D35 !important;
 }

 .newsletter form input {
     border-radius: 10px;
     padding: 20px 15px;
     border: none;
     letter-spacing: 1px;
 }

 .newsletter form button {
     padding: 10px 15px;
     background-color: #fff;
     border-color: none;
     border: none;
     right: 10px;
     border-radius: 10px !important;
     height: 40px;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #E71D35;
     background-image: none !important;
     font-weight: 600;
     top: 0;
     box-shadow: 0 !important;
     text-shadow: 0 !important;
 }
 .newsletter form button:hover {
     color: #E71D35;
     background-color: #fff;
 }

 .newsletter ul.list-inline {
     display: flex;
     justify-content: flex-end;
     margin-bottom: 0;
 }

 .newsletter ul.list-inline li a.social-icon {
     background-color: #fff;
     color: #E71D35;
 }
 
 .newsletter > .container {
     display: flex;
     align-items: center;
 }

 .newsletter .title {
    letter-spacing: 1px;
    font-size: 18px !important;
 }

main .grid {
    padding-bottom: 50px;
}

footer .insitucional, footer .payment {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

footer .payment h3 {
    padding-bottom: 15px;
}

footer .insitucional h3, footer .payment h3 {
    color: #E71D35;
    font-size: 16px;
    font-weight: 600;
}

footer .insitucional ul {
    list-style: none;
    padding: 15px 0; 
}

footer .insitucional ul li a {
    color: #111;
}
footer .insitucional p, footer .insitucional .social {
    padding-top: 15px;
}

footer .copyright p {
    color: #d6d6d6;
}

.social {
    text-align: left !important;
}